@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'VT323', monospace;
}

@mixin on-circle($item-count, $circle-size) {
    position: relative;
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    list-style: none;

    > * {
        display: block;
        position: absolute;
        top: 45%;
        left: 36%;

        $angle: (360 / $item-count);
        $rot: 125.5;

        @for $i from 1 through $item-count {
            &:nth-of-type(#{$i}) {
                transform: rotate($rot * 1deg)
                    translate($circle-size / 2)
                    rotate($rot * -1deg);
            }

            $rot: $rot + $angle;
        }
    }
}

.calculator {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #d1dede;
    border-radius: 5%;
    background: #2f4f4f;
    width: 300px;
    height: 667px;
    max-height: 98vh;

    .calculator__display {
        height: 100%;
        width: 100%;
        background: #d1dede;
        color: #7b0828;
        border-radius: 5%;
        border: 5px solid #d1dede;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
        flex-wrap: wrap;

        #changeLayoutBtn {
            width: 10%;
            position: relative;
            top: 5px;
        
            &:hover {
                cursor: pointer;
            }
        }

        .calculator__display__numbers {
            font-size: 55px;
            padding: 10px;
            font-family: 'VT323', monospace;
            
            #calculator__display__numbers__previous {
                opacity: .5;
            }
        }
    }

    .calculator__inputs {
        background: #2f4f4f;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5%;

        .calculator__inputs__symbols {
            width: 85%;
            height: 30%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }

        .calculator__inputs__button {
            color: #7b0828;
            background: #8daa9d;
            border-radius: 50%;
            border: 1px solid #8daa9d;
            box-shadow: 2px 1px #313b37;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            user-select: none;
            font-size: 40px;

            &:active {
                background: #522b47;
            }
        }
    }
}

.circle {
    @include on-circle($item-count: 10, $circle-size: 165px);
}

.square {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .calculator__inputs__button {
        margin-bottom: 10px;
    }
}


